.icon-info {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 15px;
	width: 12px;
	background-position: 0 -20px
}

.icon-fav {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	background-position: 0 -60px
}

.icon-faved {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	background-position: 0 -80px
}

.icon-share {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	background-position: 0 0
}

.icon-single-report {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	background-position: 0 -100px
}

.icon-status-play {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	background-position: 0 -120px
}

.icon-status-pause {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	background-position: 0 -140px
}

.icon-report {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 14px;
	background-position: -50px -40px
}

.icon-reply {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 14px;
	background-position: -50px -60px
}

.icon-mobile {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 14px;
	height: 18px;
	width: 12px;
	background-position: -50px -80px
}

.icon-trash {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-player.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 14px;
	background-position: -50px -100px
}

.login {
	color: #7d7d7d;
	display: none;
	float: right;
	max-width: 70px;
	position: relative;
	cursor: pointer
}

.common-icons {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat
}

.icon-android {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-position: 0 -30px
}

.icon-wp {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-position: 0 -60px
}

.icon-ios {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-position: 0 -90px
}

.icon-sns-twitter {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 22px;
	background-position: 0 -120px
}

.icon-sns-fb {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 10px;
	background-position: 0 -150px
}

.icon-sns-ins {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 22px;
	background-position: 0 -180px
}

.icon-sns-weibo {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-position: 0 -210px
}

.icon-sns-douban {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-position: 0 -240px
}

.icon-sns-wechat {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-position: 0 -270px
}

.icon-share-weibo {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	background-position: 0 -480px
}

.icon-share-qzone {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 18px;
	background-position: 0 -510px
}

.icon-share-douban {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	background-position: 0 -540px
}

.icon-share-wechat {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	background-position: -110px -540px
}

.icon-sns-qq {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-position: -110px -270px
}

.icon-open-weibo {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-position: -110px -30px
}

.icon-open-qq {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-position: -110px -60px
}

.icon-open-douban {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-position: -110px -90px
}

.icon-open-weibo-grey {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-position: -110px -480px
}

.icon-open-qq-grey {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-position: -110px -510px
}

.icon-open-douban-grey {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-position: -110px -450px
}

.icon-account {
	display: inline-block;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
	background-position: -110px -120px
}

.icon-setting {
	display: inline-block;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
	background-position: -110px -150px
}

.icon-logout {
	display: inline-block;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
	background-position: -110px -180px
}

.icon-message {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 18px;
	height: 13px;
	background-position: -110px -210px
}

.icon-search {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	background-position: -110px -240px
}

.icon-back {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 12px;
	width: 8px;
	background-position: -110px -420px
}

.icon-slogan {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 136px
}

.icon-logo {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-common.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-position: 0 -300px;
	height: 39px;
	width: 32px
}

:focus {
	outline: 0
}

body, div, p, blockquote, ul, li, a, span, i, em, strong, h1, h2, h3, h4,
	h5, h6, form, fieldset, legend, input, button, textarea, blockquote {
	margin: 0;
	padding: 0
}

body {
	font: 13px/22px Verdana, '微软雅黑', 'Microsoft YaHei', Helvetica, Arial;
	color: #2d2d2d
}

h1, h2, h3, h4 {
	font: 13px/1.5 Verdana, '微软雅黑', 'Microsoft YaHei', Helvetica, Arial;
	font-weight: 400
}

ul {
	list-style: none
}

a {
	text-decoration: none;
	color: #2d2d2d
}

a:focus {
	outline: 0
}

img {
	border: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

input[type=text], input[type=password], input[type=url], input[type=email]
	{
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	height: 19px;
	line-height: 19px;
	padding: 3px 9px
}

label input[type=radio], label input[type=checkbox] {
	display: inline-block;
	vertical-align: middle
}

::-webkit-input-placeholder {
	color: #7d7d7d
}

:-moz-placeholder {
	color: #7d7d7d
}

::-moz-placeholder {
	color: #7d7d7d
}

:-ms-input-placeholder {
	color: #7d7d7d
}

::selection {
	background: #dd5862;
	color: #FFF
}

::-moz-selection {
	background: #dd5862;
	color: #FFF
}

input::selection, textarea::selection, .btn-positive::selection {
	background: #39f;
	color: #FFF
}

input::-moz-selection, textarea::-moz-selection, .btn-positive::-moz-selection
	{
	background: #39f;
	color: #FFF
}

.clearfix {
	*zoom: 1
}

.clearfix:before, .clearfix:after {
	clear: both;
	display: table;
	content: "";
	line-height: 0
}

.fleft {
	float: left
}

.fright {
	float: right
}

.margin-right-0 {
	margin-right: 0 !important
}

.separator {
	color: #7d7d7d;
	font-size: 14px;
	font-weight: 700
}

.helper {
	color: #7d7d7d
}

.btn {
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px
}

.btn-positive {
	background: #dd5862;
	color: #FFF
}

.btn-negative {
	background: #bdbdbd;
	color: #FFF
}

.btn-not-ready {
	background: #f2c5c3;
	color: #FFF;
	cursor: default
}

.ajax-loading {
	background: url(../img/loading.png);
	display: inline-block;
	width: 14px;
	height: 14px;
	overflow: hidden
}

.inline-input {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	padding: 5px 7px
}

.inline-input .label {
	color: #000;
	display: inline-block;
	font-size: 13px;
	margin-right: 5px
}

.inline-input input {
	border: 0;
	padding: 0
}

.container {
	margin: 0 auto;
	width: 960px
}

.ct-sm {
	width: 620px
}

.page-nav {
	background: #f2f2f2;
	border-radius: 4px;
	margin-bottom: 35px;
	padding: 7px 7px 7px 20px
}

.page-nav .curt-nav {
	float: left;
	border-right: 1px solid #e5e5e5;
	margin-right: 10px;
	height: 56px;
	line-height: 56px
}

.page-nav .pagenav-wrapper {
	float: left;
	width: 480px
}

.page-nav .item {
	color: #5F5F5F;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin-right: 15px
}

.page-nav .item:hover {
	color: #dd5862
}

.page-nav .actived {
	color: #dd5862
}

.article-nav .nav-back {
	color: #7d7d7d
}

.article {
	float: left;
	width: 670px
}

.article-sm {
	width: 590px
}

.share-btn-wrapper {
	padding: 20px 15px 15px
}

.share-btn-wrapper .icon-share-weibo {
	margin-left: 12px
}

.share-btn-wrapper .icon-share-qzone {
	margin-left: 12px
}

.share-btn-wrapper .icon-share-douban {
	margin-left: 16px
}

.share-btn-wrapper .icon-share-wechat {
	margin-left: 15px
}

.common-dialog-wrapper {
	width: 460px
}

.common-dialog-wrapper form {
	overflow: hidden
}

.common-dialog-wrapper .fb-group {
	margin-top: 15px
}

.common-dialog-wrapper .file-group {
	position: relative;
	height: 36px
}

.common-dialog-wrapper .btn-file {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	opacity: 0;
	filter: alpha(opacity = 0);
	padding-top: 10px;
	width: 75px;
	cursor: pointer
}

.common-dialog-wrapper .btn-screenshot {
	position: absolute;
	top: 0;
	left: 0
}

.common-dialog-wrapper textarea {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	width: 435px;
	padding: 10px;
	height: 185px;
	resize: none
}

.common-dialog-wrapper .label {
	display: inline-block;
	width: 70px
}

.common-dialog-wrapper .code {
	width: 65px
}

.common-dialog-wrapper .captcha-wrapper {
	display: inline-block;
	line-height: 1;
	margin-right: 85px
}

.common-dialog-wrapper .captcha {
	vertical-align: middle;
	height: 28px;
	width: 85px
}

.common-dialog-wrapper .ajax-result {
	display: none;
	text-align: center;
	font-size: 16px;
	margin: 15px 0
}

.cbody blockquote {
	padding: 15px;
	margin: 20px;
	color: #666;
	border-left: 4px solid #eee
}

.cbody ul, .cbody ol {
	list-style: inherit;
	padding-left: 40px
}

.cbody h1 {
	font-size: 2em
}

.cbody h2 {
	font-size: 1.5em
}

.cbody h3 {
	font-size: 1.17em
}

.cbody img {
	max-width: 100%
}

.cbody iframe {
	max-width: 100%
}

.cbody a {
	color: #337ab7
}

.header {
	background-color: #F2F2F2;
	border-top: 2px solid #dd5862;
	border-bottom: 1px solid #e9e8e8;
	margin-bottom: 60px;
	min-width: 960px
}

.header-ct {
	*zoom: 1;
	height: 50px;
	line-height: 51px;
	width: 960px;
	margin: 0 auto
}

.header-ct:before, .header-ct:after {
	clear: both;
	display: table;
	content: "";
	line-height: 0
}

.logo {
	float: left;
	height: 44px;
	width: 34px;
	overflow: hidden
}

.nav {
	float: left;
	margin-left: 8px
}

.nav ul li {
	float: left
}

.nav ul li a {
	display: block;
	margin-left: 25px;
	color: #2d2d2d;
	font-size: 16px
}

.nav ul li a:hover {
	color: #dd5862
}

.head-search {
	float: left;
	margin-left: 20px;
	position: relative;
	line-height: 49px
}

.head-search .search-input {
	background: #ededed;
	border: 1px solid #e5e5e5;
	border-radius: 19px;
	font-size: 12px;
	padding: 3px 10px 3px 30px;
	box-shadow: 1px 1px 1px #ECECEC inset;
	width: 65px;
	width: 105px \0;
	transition: width 300ms ease 0s
}

.head-search .search-input:focus {
	background: #FFF;
	box-shadow: none;
	width: 105px
}

.head-search .search-btn {
	background: 0 0;
	border: 0;
	color: #C9C9C9;
	cursor: pointer;
	position: absolute;
	left: 5px;
	top: 15px;
	top: 0 \0;
	font-size: 14px;
	width: 18px;
	z-index: 99
}

.logged-out-wrapper {
	color: #7d7d7d;
	display: none;
	float: right;
	max-width: 70px;
	position: relative;
	cursor: pointer
}

.logged-out-wrapper .ln-top-login {
	color: #363636
}

.logged-out-wrapper .break {
	margin: 0 -3px
}

.head-login-dialog {
	background: #FFF;
	position: absolute;
	top: 34px;
	right: 16px;
	cursor: default;
	border-radius: 4px
}

.head-dialog-wrapper {
	position: relative;
	line-height: 1
}

.head-dialog-wrapper .arrow {
	position: absolute;
	top: -13px;
	right: 32px;
	line-height: 1
}

.head-dialog-wrapper .arrow .tria-out {
	color: #e5e5e5;
	display: block
}

.head-dialog-wrapper .arrow .tria-in {
	color: #FFF;
	display: block;
	margin-top: -12px
}

.head-dialog-wrapper .dialog-ct {
	border: 1px solid #e5e5e5;
	border-radius: 4px
}

.logged-in-wrapper {
	display: none;
	float: right
}

.logged-in-wrapper .ln-message {
	float: left;
	color: #b0b0b0;
	display: block;
	position: relative;
	margin: 0 30px 0 25px
}

.logged-in-wrapper .msg-count {
	background: #dd5862;
	border-radius: 6px;
	color: #FFF;
	font-size: 7px;
	height: 12px;
	line-height: 12px;
	position: absolute;
	right: -3px;
	text-align: center;
	top: 15px;
	width: 12px
}

.logged-in-wrapper .account-more {
	float: left
}

.logged-in-wrapper .ln-account {
	color: #7d7d7d;
	display: block;
	max-width: 96px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px
}

.logged-in-wrapper .avatar {
	width: 16px;
	border-radius: 3px;
	margin-bottom: -3px;
	margin-right: 2px
}

.logged-in-wrapper .ln-active-wrapper {
	float: left;
	margin-top: 17px;
	line-height: 1
}

.logged-in-wrapper .ln-active {
	display: inline-block;
	font-size: 12px;
	padding: 3px 7px;
	background: #dd5862;
	color: #FFF;
	border-radius: 12px
}

.dialog-passport {
	padding: 20px 15px;
	min-width: 201px
}

.dialog-passport .dialog-head {
	overflow: hidden;
	margin-bottom: 15px;
	line-height: 1
}

.dialog-passport .title {
	float: left;
	font-size: 14px;
	color: #000
}

.dialog-passport .ln-login {
	float: right;
	color: #7d7d7d
}

.dialog-passport .inline-input {
	margin-bottom: 10px
}

.dialog-passport .input-passport {
	width: 149px
}

.dialog-passport .input-sort {
	width: 60px
}

.dialog-passport img.verify {
	width: 80px;
	height: 29px;
	float: right;
	margin-top: -5px;
	margin-right: -7px;
	cursor: pointer
}

.dialog-passport .rule-wrapper {
	margin: 17px 0 15px;
	text-align: center
}

.dialog-passport .rule-wrapper a {
	color: #7d7d7d
}

.dialog-passport .btn-wrapper {
	margin: 20px 0 15px
}

.dialog-passport .btn {
	display: block;
	padding: 7px 0;
	text-align: center
}

.dialog-passport .ln-reg {
	float: right;
	color: #dd5862
}

.dialog-passport .btn-login {
	margin: 15px 0 -2px
}

.dialog-passport .ln-resetpwd {
	color: #dd5862;
	float: right
}

.dialog-passport .btn-login-msg, .dialog-passport .btn-register-msg {
	background: #F2C5C3;
	cursor: default
}

.dialog-login-oauth {
	border-top: 1px solid #e5e5e5;
	padding: 15px;
	text-align: center
}

.dialog-login-oauth a {
	margin-right: 15px
}

.active-info-wrapper {
	padding: 12px;
	font-size: 12px;
	line-height: 18px;
	word-break: keep-all
}

.active-info-wrapper a {
	color: #dd5862
}

.luoo-systips {
	display: none;
	width: 100%;
	background: #dd5862;
	color: #FFF
}

.luoo-systips .tips-body {
	width: 960px;
	margin: 0 auto;
	padding: 5px 0;
	color: #FFF;
	line-height: 1
}

.luoo-systips .tips-body img {
	margin-top: 2px
}

.luoo-systips .tips-content {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center
}

.luoo-systips .tips-content a {
	font-size: 12px;
	color: #FFF
}

.luoo-systips .close {
	color: #FFF;
	font-size: 14px;
	margin-top: 3px;
	margin-left: 12px
}

.msg-dialog-wrapper {
	padding-top: 5px
}

.msg-dialog-wrapper .msg-link-item {
	color: #000;
	padding: 12px 15px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 20px;
	font-size: 12px
}

.msg-dialog-wrapper .msg-link-item a {
	font-size: 12px;
	color: #dd5862
}

.msg-dialog-wrapper .msg-link-more {
	background: #f2f2f2;
	padding: 10px 0;
	text-align: center;
	border-radius: 0 0 3px 3px
}

.msg-dialog-wrapper .msg-link-more a {
	color: #7d7d7d
}

.account-links {
	background: #FFF;
	border-radius: 3px;
	padding: 0 15px;
	line-height: 1
}

.account-link {
	color: #7d7d7d;
	display: block;
	white-space: nowrap;
	margin: 15px 0
}

.footer {
	background: #222;
	border-top: 1px solid #111;
	margin-top: 90px;
	padding: 35px 0;
	width: 100%
}

.foot-ct {
	color: #e1e1e1;
	width: 960px;
	margin: 0 auto
}

.foot-ct .about-wrapper {
	float: left;
	width: 380px
}

.foot-ct .about-wrapper p {
	margin: 2px 0
}

.foot-ct .app-wrapper {
	float: left;
	width: 305px
}

.foot-ct .app-wrapper p {
	margin: 2px 0
}

.foot-ct .sns-wrapper {
	text-align: right;
	float: right;
	width: 275px
}

.foot-ct .sns-items {
	margin-bottom: 40px
}

.foot-ct .sns-items a {
	margin-left: 15px
}

.foot-ct .icon-sns-qq, .foot-ct .icon-sns-wechat {
	position: relative
}

.foot-ct .foot-item-head {
	color: #FFF;
	font-size: 14px;
	margin-bottom: 7px
}

.foot-ct .ln-about {
	color: #e1e1e1
}

.foot-ct .ln-app {
	color: #e1e1e1;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 7px
}

.foot-ct .slogan {
	margin-top: 15px
}

.foot-ct .wechat-qr {
	position: absolute;
	left: -62px;
	bottom: 20px;
	display: none;
	padding: 10px 10px 5px;
	border: 1px solid #ACACAC;
	background: #FFF
}

.foot-ct .qq-group {
	text-align: left;
	position: absolute;
	left: -42px;
	bottom: 20px;
	padding: 10px 10px 5px;
	border: 1px solid #ACACAC;
	background: #FFF;
	width: 87px;
	display: none;
	color: #2d2d2d;
	cursor: text;
	line-height: 24px
}

#backTop {
	position: fixed;
	left: 1200px;
	bottom: 60px;
	display: none;
	height: 50px;
	width: 50px;
	background: url(../img/icon-common.png) no-repeat 0 -360px;
	cursor: pointer
}

#backTop:hover {
	background-position: 0 -420px
}

.qrcode-content {
	margin-top: 20px
}

.qtip {
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 280px;
	min-width: 50px;
	font-size: 10.5px;
	line-height: 12px;
	direction: ltr;
	box-shadow: none;
	padding: 0
}

.qtip-content {
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word
}

.qtip-titlebar {
	position: relative;
	padding: 5px 35px 5px 10px;
	overflow: hidden;
	border-width: 0 0 1px;
	font-weight: 700
}

.qtip-titlebar+.qtip-content {
	border-top-width: 0 !important
}

.qtip-close {
	position: absolute;
	right: -9px;
	top: -9px;
	cursor: pointer;
	outline: medium none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent
}

.qtip-titlebar .qtip-close {
	right: 4px;
	top: 50%;
	margin-top: -9px
}

* html .qtip-titlebar .qtip-close {
	top: 16px
}

.qtip-titlebar .ui-icon, .qtip-icon .ui-icon {
	display: block;
	text-indent: -1000em;
	direction: ltr
}

.qtip-icon, .qtip-icon .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none
}

.qtip-icon .ui-icon {
	width: 18px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	text-indent: 0;
	font: normal bold 10px/13px Tahoma, sans-serif;
	color: inherit;
	background: transparent none no-repeat -100em -100em
}

.qtip-default {
	border-width: 1px;
	border-style: solid;
	border-color: #F1D031;
	background-color: #FFFFA3;
	color: #555
}

.qtip-default .qtip-titlebar {
	background-color: #FFEF93
}

.qtip-default .qtip-icon {
	border-color: #CCC;
	background: #F1F1F1;
	color: #777
}

.qtip-default .qtip-titlebar .qtip-close {
	border-color: #AAA;
	color: #111
}

/*! Light tooltip style */
.qtip-light {
	background-color: #fff;
	border-color: #E2E2E2;
	color: #454545
}

.qtip-light .qtip-titlebar {
	background-color: #f1f1f1
}

/*! Dark tooltip style */
.qtip-dark {
	background-color: #505050;
	border-color: #303030;
	color: #f3f3f3
}

.qtip-dark .qtip-titlebar {
	background-color: #404040
}

.qtip-dark .qtip-icon {
	border-color: #444
}

.qtip-dark .qtip-titlebar .ui-state-hover {
	border-color: #303030
}

/*! Cream tooltip style */
.qtip-cream {
	background-color: #FBF7AA;
	border-color: #F9E98E;
	color: #A27D35
}

.qtip-cream .qtip-titlebar {
	background-color: #F0DE7D
}

.qtip-cream .qtip-close .qtip-icon {
	background-position: -82px 0
}

/*! Red tooltip style */
.qtip-red {
	background-color: #F78B83;
	border-color: #D95252;
	color: #912323
}

.qtip-red .qtip-titlebar {
	background-color: #F06D65
}

.qtip-red .qtip-close .qtip-icon {
	background-position: -102px 0
}

.qtip-red .qtip-icon {
	border-color: #D95252
}

.qtip-red .qtip-titlebar .ui-state-hover {
	border-color: #D95252
}

/*! Green tooltip style */
.qtip-green {
	background-color: #CAED9E;
	border-color: #90D93F;
	color: #3F6219
}

.qtip-green .qtip-titlebar {
	background-color: #B0DE78
}

.qtip-green .qtip-close .qtip-icon {
	background-position: -42px 0
}

/*! Blue tooltip style */
.qtip-blue {
	background-color: #E5F6FE;
	border-color: #ADD9ED;
	color: #5E99BD
}

.qtip-blue .qtip-titlebar {
	background-color: #D0E9F5
}

.qtip-blue .qtip-close .qtip-icon {
	background-position: -2px 0
}

.qtip-shadow {
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15)
}

.qtip-rounded, .qtip-tipsy, .qtip-bootstrap {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.qtip-rounded .qtip-titlebar {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0
}

.qtip-youtube {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	box-shadow: 0 0 3px #333;
	color: #fff;
	border-width: 0;
	background: #4A4A4A;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a4a4a),
		color-stop(100%, #000));
	background-image: -webkit-linear-gradient(top, #4a4a4a 0, #000 100%);
	background-image: -moz-linear-gradient(top, #4a4a4a 0, #000 100%);
	background-image: -ms-linear-gradient(top, #4a4a4a 0, #000 100%);
	background-image: -o-linear-gradient(top, #4a4a4a 0, #000 100%)
}

.qtip-youtube .qtip-titlebar {
	background-color: #4A4A4A;
	background-color: rgba(0, 0, 0, 0)
}

.qtip-youtube .qtip-content {
	padding: .75em;
	font: 12px arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr=#4a4a4a, EndColorStr=#000);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);"
}

.qtip-youtube .qtip-icon {
	border-color: #222
}

.qtip-youtube .qtip-titlebar .ui-state-hover {
	border-color: #303030
}

.qtip-jtools {
	background: #232323;
	background: rgba(0, 0, 0, .7);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#717171),
		to(#232323));
	background-image: -moz-linear-gradient(top, #717171, #232323);
	background-image: -webkit-linear-gradient(top, #717171, #232323);
	background-image: -ms-linear-gradient(top, #717171, #232323);
	background-image: -o-linear-gradient(top, #717171, #232323);
	border: 2px solid #ddd;
	border: 2px solid #f1f1f1;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 12px #333;
	-moz-box-shadow: 0 0 12px #333;
	box-shadow: 0 0 12px #333
}

.qtip-jtools .qtip-titlebar {
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,
		endColorstr=#4a4a4a);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"
}

.qtip-jtools .qtip-content {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4a4a4a,
		endColorstr=#232323);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"
}

.qtip-jtools .qtip-titlebar, .qtip-jtools .qtip-content {
	background: 0 0;
	color: #fff;
	border: 0 dashed transparent
}

.qtip-jtools .qtip-icon {
	border-color: #555
}

.qtip-jtools .qtip-titlebar .ui-state-hover {
	border-color: #333
}

.qtip-cluetip {
	-webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, .4);
	-moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, .4);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, .4);
	background-color: #D9D9C2;
	color: #111;
	border: 0 dashed transparent
}

.qtip-cluetip .qtip-titlebar {
	background-color: #87876A;
	color: #fff;
	border: 0 dashed transparent
}

.qtip-cluetip .qtip-icon {
	border-color: #808064
}

.qtip-cluetip .qtip-titlebar .ui-state-hover {
	border-color: #696952;
	color: #696952
}

.qtip-tipsy {
	background: #000;
	background: rgba(0, 0, 0, .87);
	color: #fff;
	border: 0 solid transparent;
	font-size: 11px;
	font-family: 'Lucida Grande', sans-serif;
	font-weight: 700;
	line-height: 16px;
	text-shadow: 0 1px #000
}

.qtip-tipsy .qtip-titlebar {
	padding: 6px 35px 0 10px;
	background-color: transparent
}

.qtip-tipsy .qtip-content {
	padding: 6px 10px
}

.qtip-tipsy .qtip-icon {
	border-color: #222;
	text-shadow: none
}

.qtip-tipsy .qtip-titlebar .ui-state-hover {
	border-color: #303030
}

.qtip-tipped {
	border: 3px solid #959FA9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #F9F9F9;
	color: #454545;
	font-weight: 400;
	font-family: serif
}

.qtip-tipped .qtip-titlebar {
	border-bottom-width: 0;
	color: #fff;
	background: #3A79B8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3a79b8),
		to(#2e629d));
	background-image: -webkit-linear-gradient(top, #3a79b8, #2e629d);
	background-image: -moz-linear-gradient(top, #3a79b8, #2e629d);
	background-image: -ms-linear-gradient(top, #3a79b8, #2e629d);
	background-image: -o-linear-gradient(top, #3a79b8, #2e629d);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3a79b8,
		endColorstr=#2e629d);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)"
}

.qtip-tipped .qtip-icon {
	border: 2px solid #285589;
	background: #285589
}

.qtip-tipped .qtip-icon .ui-icon {
	background-color: #FBFBFB;
	color: #555
}

.qtip-bootstrap {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding: 1px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box
}

.qtip-bootstrap .qtip-titlebar {
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0
}

.qtip-bootstrap .qtip-titlebar .qtip-close {
	right: 11px;
	top: 45%;
	border-style: none
}

.qtip-bootstrap .qtip-content {
	padding: 9px 14px
}

.qtip-bootstrap .qtip-icon {
	background: 0 0
}

.qtip-bootstrap .qtip-icon .ui-icon {
	width: auto;
	height: auto;
	float: right;
	font-size: 20px;
	font-weight: 700;
	line-height: 18px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	filter: alpha(opacity = 20)
}

.qtip-bootstrap .qtip-icon .ui-icon:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .4;
	filter: alpha(opacity = 40)
}

.qtip:not (.ie9haxors ) div.qtip-content, .qtip:not (.ie9haxors ) div.qtip-titlebar
	{
	filter: none;
	-ms-filter: none
}

.qtip .qtip-tip {
	margin: 0 auto;
	overflow: hidden;
	z-index: 10
}

x:-o-prefocus, .qtip .qtip-tip {
	visibility: hidden
}

.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
	position: absolute;
	color: #123456;
	background: 0 0;
	border: 0 dashed transparent
}

.qtip .qtip-tip canvas {
	top: 0;
	left: 0
}

.qtip .qtip-tip .qtip-vml {
	behavior: url(#default#VML);
	display: inline-block;
	visibility: visible
}

#qtip-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

#qtip-overlay.blurs {
	cursor: pointer
}

#qtip-overlay div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	filter: alpha(opacity = 70);
	-ms-filter: "alpha(Opacity=70)"
}

/*! luoo tooltip style */
.qtip-luoo {
	background-color: #fff;
	border-color: #E5E5E5;
	border-radius: 4px;
	color: #706f6f;
	font-size: 13px;
	line-height: 13px;
	box-shadow: 0 0 3px #dedede
}

.qtip-luoo .qtip-titlebar {
	background-color: #f1f1f1
}

.qtip-luoo .qtip-content {
	padding: 0
}

.aui_outer {
	text-align: left
}

table.aui_border, table.aui_dialog {
	border: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%
}

.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s,
	.aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer {
	padding: 0
}

.aui_header {
	font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti;
	_font-family: Tahoma, Arial, Helvetica, STHeiti;
	-o-font-family: Tahoma, Arial
}

.aui_title {
	overflow: hidden;
	text-overflow: ellipsis
}

.aui_state_noTitle .aui_title {
	display: none
}

.aui_close {
	display: block;
	position: absolute;
	text-decoration: none;
	outline: 0;
	_cursor: pointer
}

.aui_close:hover {
	text-decoration: none
}

.aui_main {
	text-align: center;
	min-width: 9em;
	min-width: 0 \9;
	padding-top: 20px
}

.aui_content {
	display: block;
	*zoom: 1;
	text-align: left;
	border: 0 0
}

.aui_content.aui_state_full {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0 !important;
	height: 100%
}

.aui_loading {
	width: 96px;
	height: 32px;
	text-align: left;
	text-indent: -999em;
	overflow: hidden;
	background: url(../thirdparty/artDialog/skins/icons/loading.gif)
		no-repeat center center
}

.aui_icon {
	vertical-align: middle
}

.aui_icon div {
	width: 48px;
	height: 48px;
	margin: 10px 0 10px 10px;
	background-position: center center;
	background-repeat: no-repeat
}

.aui_buttons {
	display: none
}

.aui_inner {
	background: #FFF;
	border: 1px solid #E5E5E5;
	border-radius: 4px
}

.aui_nw, .aui_ne, .aui_sw, .aui_se {
	width: 0;
	height: 0
}

.aui_titleBar {
	position: relative;
	height: 100%
}

.aui_title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 14px;
	background: #F6F6F6;
	color: #565656;
	text-indent: 15px
}

.aui_state_drag .aui_title {
	color: #666
}

.aui_close {
	padding: 0;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-family: Helvetica, STHeiti;
	_font-family: '\u9ed1\u4f53', 'Book Antiqua', Palatino;
	font-size: 18px;
	text-decoration: none;
	color: #214FA3
}

.aui_close:hover, .aui_close:active {
	text-decoration: none;
	color: #900
}

.aui_content {
	color: #666
}

.aui_state_focus .aui_content {
	color: #000
}

@media screen and (min-width: 0) {
	.aui_close {
		width: 20px;
		height: 20px;
		line-height: 20px;
		right: 7px;
		top: 10px;
		color: #565656;
		font-size: 28px
	}
	.aui_close:hover {
		color: #444
	}
	.aui_state_lock .aui_dialog {
		box-shadow: 0 3px 26px rgba(0, 0, 0, .9);
		-moz-transition: -moz-box-shadow linear .2s;
		-webkit-transition: -webkit-box-shadow linear .2s;
		transition: -webkit-box-shadow linear .2s
	}
	.aui_dialog:active {
		box-shadow: 0 0 5px rgba(0, 0, 0, .1) !important
	}
	.aui_state_drag .aui_outer {
		box-shadow: none !important
	}
}

.paginator {
	text-align: center
}

.paginator .previous {
	background: url(../img/icon-common.png) -70px -300px no-repeat;
	color: #7d7d7d;
	display: inline-block;
	height: 25px;
	line-height: 22px;
	width: 64px;
	text-indent: 4px;
	margin-right: 3px
}

.paginator .previous:hover {
	color: #FFF;
	background-position: -70px -330px
}

.paginator .previous:active {
	color: #FFF;
	background-position: -70px -330px
}

.paginator .previous.disabled:hover {
	background-position: -70px -300px
}

.paginator .next {
	background: url(../img/icon-common.png) -70px -360px no-repeat;
	color: #7d7d7d;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	width: 64px;
	text-indent: -6px
}

.paginator .next:hover {
	color: #FFF;
	background-position: -70px -390px
}

.paginator .next:active {
	color: #FFF;
	background-position: -70px -390px
}

.paginator .next.disabled:hover {
	background-position: -70px -360px
}

.paginator .page {
	background-color: #f2f2f2;
	color: #7d7d7d;
	display: inline-block;
	margin-right: 5px;
	border-radius: 3px;
	height: 25px;
	line-height: 25px;
	min-width: 26px
}

.paginator .page:hover {
	background-color: #dd5862;
	color: #FFF
}

.paginator .actived {
	background-color: #dd5862;
	color: #FFF
}

.paginator .disabled {
	color: #D9D9D9;
	cursor: default
}

.paginator .disabled:hover {
	color: #d9d9d9
}

.paginator .break {
	color: #7d7d7d;
	margin-right: 4px
}

.aside {
	float: right;
	width: 290px;
	overflow-x: hidden
}

.widget {
	margin-bottom: 25px
}

.widget-head {
	padding-bottom: 17px;
	line-height: 1
}

.widget-head .title {
	font-size: 14px
}

.widget-head .more-link {
	font-size: 12px;
	color: #7d7d7d
}

.widget-border {
	border-top: 1px solid #e5e5e5
}

.widget-first {
	margin-top: -17px
}

.pic-widget .item {
	*zoom: 1;
	margin-bottom: 25px
}

.pic-widget .item:before, .pic-widget .item:after {
	clear: both;
	display: table;
	content: "";
	line-height: 0
}

.pic-widget .cover-wrapper {
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 13px
}

.pic-widget .cover {
	display: block;
	height: 32px;
	width: 32px;
	border-radius: 3px
}

.pic-widget .vol-cover {
	display: block;
	height: auto;
	max-width: 42px;
	border-radius: 3px
}

.pic-widget .essay-cover {
	display: block;
	height: auto;
	width: 63px;
	height: 35px;
	border-radius: 3px
}

.pic-widget .event-cover {
	display: block;
	height: auto;
	max-width: 46px;
	border-radius: 3px
}

.pic-widget .info {
	line-height: 1
}

.pic-widget .title {
	margin: 1px 0 4px;
	display: block;
	max-width: 240px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.pic-widget .title:hover {
	color: #dd5862
}

.pic-widget .wrap-title {
	margin-bottom: 4px;
	display: block;
	max-width: 240px;
	max-height: 34px;
	overflow: hidden;
	line-height: 17px
}

.pic-widget .wrap-title:hover {
	color: #dd5862
}

.pic-widget .description {
	color: #7d7d7d;
	font-size: 12px
}

.pic-widget .description a {
	color: #7d7d7d
}

.pic-widget .separator {
	margin: 0 1px
}

.pic-widget .site-cover {
	max-width: 290px
}

.link-widget p {
	margin-bottom: 15px
}

.link-widget a {
	color: #7d7d7d
}

.uinfo-widget {
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 3px
}

.uinfo-widget .avatar {
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 3px;
	margin-right: 20px
}

.uinfo-widget .name {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 170px;
	white-space: nowrap
}

.uinfo-widget .plays {
	display: block;
	color: #7d7d7d;
	font-size: 12px
}

.uinfo-widget .favs {
	display: block;
	color: #7d7d7d;
	font-size: 12px;
	line-height: 1
}

.widget-break {
	border-top: 1px solid #e5e5e5
}

.ln-widget-block {
	color: #7d7d7d;
	background: #F8F8F8;
	display: block;
	font-size: 14px;
	height: 57px;
	line-height: 57px;
	text-align: center;
	margin-top: 23px;
	border-radius: 4px
}

.musician-icons {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px
}

.icon-fav {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	background-position: 0 -40px
}

.icon-faved {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	background-position: -100px -40px
}

.icon-share {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	background-position: -100px -20px
}

.icon-info {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	background-position: 0 -20px
}

.icon-play {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	background-position: -100px -60px;
	width: 20px;
	height: 20px;
	margin-left: 15px;
	display: none
}

.icon-pause {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	background-position: 0 -60px;
	width: 20px;
	height: 20px;
	margin-left: 15px;
	display: none
}

.date {
	margin-top: 15px;
	color: #9f9f9f;
	text-align: right
}

.sns {
	text-align: right;
	margin-top: 24px
}

.sns a {
	margin-left: 16px
}

.single-report {
	text-align: right
}

.single-report .icon-single-report {
	color: #a40101;
	font-size: 12px;
	height: 12px;
	line-height: 8px;
	margin-right: 5px;
	width: 36px
}

.musician-banner {
	margin-bottom: 50px
}

.musician-banner .cover {
	float: left;
	width: 480px;
	height: 270px;
	border-radius: 4px;
	margin-right: 50px
}

.musician-banner .title {
	font-size: 20px;
	margin: 30px 0 4px;
	display: block;
	height: 20px
}

.musician-banner .title:hover, .musician-banner .title.active {
	color: #dd5862
}

.musician-banner .performer {
	color: #838383;
	font-size: 16px;
	margin-bottom: 20px
}

.musician-banner .quote-before {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	height: 15px;
	width: 13px
}

.musician-banner .quote-after {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	background-image: url(../img/icon-musician.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	background-position: -100px 0;
	height: 15px;
	width: 13px
}

.musician-banner .lyric {
	display: none;
	max-height: 155px;
	overflow-y: scroll
}

.musician-list {
	margin-bottom: 45px;
	margin-top: -30px
}

.musician-list .item {
	*zoom: 1;
	padding: 26px 0;
	border-bottom: 1px solid #e5e5e5
}

.musician-list .item:before, .musician-list .item:after {
	clear: both;
	display: table;
	content: "";
	line-height: 0
}

.musician-list .cover-wrapper {
	border-radius: 4px;
	display: block;
	float: left;
	height: 156px;
	margin-right: 20px;
	overflow: hidden;
	width: 220px
}

.musician-list .cover {
	display: block;
	border-radius: 4px;
	width: 220px;
	height: 123px;
}

.musician-list .musician-wrapper {
	float: left;
	width: 345px
}

.musician-list .sns {
	margin-top: 14px
}

.musician-list .date {
	margin-top: 7px;
	font-size: 12px
}

.musician-list .title {
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	display: inline-block
}

.musician-list .title:hover, .musician-list .title.active {
	color: #dd5862
}

.musician-list .performer {
	color: #838383;
	font-size: 12px;
	margin: 4px 0
}

.musician-list .remark {
	font-size: 12px;
	line-height: 20px
}

.musician-list .lyric {
	display: none;
	max-height: 255px;
	overflow-y: scroll
}

.lyric-form-wrapper {
	margin-top: 20px;
	width: 620px
}

.lyric-form-wrapper .input-group {
	margin: 10px
}

.lyric-form-wrapper .input-lyric {
	width: 580px;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	height: 185px;
	padding: 10px
}

.lyric-form-wrapper .btn-not-ready {
	display: none
}