<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer" style="min-width: 980px" th:fragment="footer">
    <div class="foot-ct clearfix">
        <div class="about-wrapper">
            <h4 class="foot-item-head">关于</h4>
            <p><a class="ln-about" href="https://github.com/EmptyWalletException/TopTalk">关于图漾</a></p>
            <p><a class="ln-about" href="https://github.com/EmptyWalletException/TopTalk">加入项目</a></p>
            <p><a class="ln-about" href="https://github.com/EmptyWalletException/TopTalk">联系合作</a></p>
            <p><a class="ln-about" href="https://github.com/EmptyWalletException/TopTalk">反馈建议</a></p>
            <p><a class="ln-about" href="https://github.com/EmptyWalletException/TopTalk">友情链接</a></p>
        </div>
        <div class="app-wrapper">
            <h4 class="foot-item-head">APP</h4>
            <p>
                <a class="ln-app" href="#"><span class="icon-ios"></span>&nbsp;&nbsp;for
                    iPhone</a>
            </p>
            <p><a class="ln-app" href="#"><span class="icon-android"></span>&nbsp;&nbsp;for
                Android</a></p>
            <p><a class="ln-app" href="#"><span class="icon-wp"></span>&nbsp;&nbsp;for Windows
                Phone 8</a></p>
        </div>
        <div class="sns-wrapper">
            <h4 class="foot-item-head">关注图漾</h4>
            <div class="sns-items">
                <a class="icon-sns-qq" id="luooQqAccount">
					<span class="qq-group">
						图漾唯一客服QQ
						·1833865798
						<!--<br>
						·1833865798-->
					</span>
                </a>
                <a href="http://pdr28szno.bkt.clouddn.com/wechat.jpg" target="_blank" class="icon-sns-wechat" id="luooWechatAccount">
                    <img src="http://pdr28szno.bkt.clouddn.com/wechat.jpg" alt="wechat" class="wechat-qr">
                </a>
                <a href="#" target="_blank" class="icon-sns-weibo"></a>
                <a href="#" target="_blank" class="icon-sns-douban"></a>
                <!-- <a href="https://twitter.com/Luoofm" target="_blank" class="icon-sns-twitter"></a>
                <a href="https://www.facebook.com/luoofm" target="_blank" class="icon-sns-fb"></a>
                <a href="http://instagram.com/luoofm" target="_blank" class="icon-sns-ins"></a> -->
            </div>
            <p class="icp">© 2018 图漾</p>
            <p class="slogan">
                <span class="icon-slogan"></span>
            </p>
        </div>
    </div>
</div>
</body>
</html>