<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta property="qc:admins" content="4553322067645776654">
    <meta property="wb:webmaster" content="78f40d1511de8c6b">
    <meta name="baidu-site-verification" content="xC1m9aYTgX">
    <title>搜索</title>
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <link rel="stylesheet" href="/css/search.css">
    <link type="image/x-icon" href="#" rel="shortcut icon">
    <script type="text/javascript" async="" src="/js/ga.js"></script>
    <script src="/js/hm.js"></script>
    <script src="/js/jquery-1.11.0.min.js"></script>

    <script src="/js/luoo.js"></script>

</head>
<body>

<!-- header start -->
<div class="header" th:replace="~{portal/nav :: topbar}">

</div>
<!--/// header end -->
<!-- container start -->
<div class="container ct-sm" style="min-height: 499px;">
    <form class="search-form clearfix">
        <div>
        <div class="filter rounded">
            <a href="javascript:;" rel="nofollow" class="filter-current" data-ct="searchFilterWrapper"
               data-tipid="searchFilterDialog" data-adjustx="15" data-width="90" data-hasqtip="searchFilterDialog"
               aria-describedby="qtip-searchFilterDialog">
                关键字:                    <!--<span class="icon-search-filter"></span>-->
            </a>
            <!--<div id="searchFilterWrapper" style="display: none;">
                <ul class="search-filter-wrapper">
                    <li><a href="http://www.luoo.net/search/?q=%E5%A4%8F%E5%A4%A9" class="filter-item" rel="nofollow">全部</a></li>
                    <li><a href="http://www.luoo.net/search/?t=single&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item" rel="nofollow">单曲</a></li>
                    <li><a href="http://www.luoo.net/search/?t=vol&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item" rel="nofollow">期刊</a></li>
                    <li><a href="http://www.luoo.net/search/?t=essay&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item" rel="nofollow">文章</a></li>
                    <li><a href="http://www.luoo.net/search/?t=event&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item" rel="nofollow">活动</a></li>
                    <li><a href="http://www.luoo.net/search/?t=livehouse&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item" rel="nofollow">场所</a></li>
                </ul>
            </div>-->
        </div>
        <input type="text" class="keyword rounded" placeholder="查找你喜欢的内容" name="q" value="夏天">
        <input type="hidden" name="t" value="">
        <button type="submit" class="btn rounded">
            <span class="icon-search-w"></span>
            搜索
        </button>
        </div>
        <br/><br/>
        <div >
            <span style="margin-left:30px;margin-right: 10px">筛选:</span>
            <!--<label>
                <input type="radio" name="filtrate" value="0" class="input-listener" checked> 全部
            </label>-->
            <label>
                <input type="radio" name="filtrate" value="1" class="input-listener" checked> 专辑
            </label>
            <label>
                <input type="radio" name="filtrate" value="2" class="input-listener" > 随笔
            </label>
            <label>
                <input type="radio" name="filtrate" value="3" class="input-listener" > 故事
            </label>
            <label>
                <input type="radio" name="filtrate" value="4" class="input-listener" > 活动
            </label>
        </div>
    </form>

    <div class="search-result">

        <div id="item1375" class="item item-vol" data-id="1375">
            <div class="rs-text">
                <p class="title">
                    [期刊]
                    <a href="http://www.luoo.net/vol/index/1375">vol.992 永不结束的夏天</a>
                </p>
                <p class="content">
                    跳进这汹涌的人潮里吧带着少年慌乱的舞步带着藏匿在心底的不合时宜没有人能够带走夏天因为夏天永不会结束Cover From Kristen Elsby跳进这汹涌的人潮里吧带着少年慌乱的...
                </p>
            </div>

            <div class="rs-pic-wrapper">
                <img src="/js/160x120" alt="vol.992 永不结束的夏天" class="rs-pic">
            </div>

        </div>

        <div id="item1368" class="item item-vol" data-id="1368">
            <div class="rs-text">
                <p class="title">
                    [期刊]
                    <a href="http://www.luoo.net/vol/index/1368">vol.985 那片蓝</a>
                </p>
                <p class="content">
                    你以为你会忘记那片蓝，然后用波澜不惊的姿态行走于这条来去长路。当你有一天喝着小酒走在失意的街头，那片蓝却又不经意间的漂浮于心头。关于青春的故事，最纯美的情感，早已滞留在那个纯粹的夏...
                </p>
            </div>

            <div class="rs-pic-wrapper">
                <img src="/js/160x120(1)" alt="vol.985 那片蓝" class="rs-pic">
            </div>

        </div>

        <div id="item905" class="item item-essay" data-id="905">
            <div class="rs-text">
                <p class="title">
                    [文章]
                    <a href="http://www.luoo.net/essay/905">郑宜农 | 那听觉灵敏的船桨，摇进了夏天的耳朵</a>
                </p>
                <p class="content">
                    脆弱而骄傲，直率又隐忍。
                </p>
            </div>

            <div class="rs-pic-wrapper">
                <img src="/js/Fpt8Gwp_SumkfuE8xOB3bvQZPXJ9.jpg" alt="郑宜农 | 那听觉灵敏的船桨，摇进了夏天的耳朵" class="rs-pic">
            </div>

        </div>

        <div id="item1232" class="item item-vol" data-id="1232">
            <div class="rs-text">
                <p class="title">
                    [期刊]
                    <a href="http://www.luoo.net/vol/index/1232">vol.015 经典唱片20年记 The Verve 城市赞美诗</a>
                </p>
                <p class="content">
                    《Urban Hymns》更像是一张用甜蜜，致幻剂，和眼泪酿造的唱片。1997年再度归来的 The Verve 用这张专辑向世人宣布他们还是一支完整的乐队，首单《Bitter Sw...
                </p>
            </div>

            <div class="rs-pic-wrapper">
                <img src="/js/160x120(2)" alt="vol.015 经典唱片20年记 The Verve 城市赞美诗" class="rs-pic">
            </div>

        </div>

        <div id="item20558" class="item item-single" data-id="20558">
            <div class="rs-text">
                <p class="title">
                    [单曲]
                    <a href="http://www.luoo.net/single/20558">夏天的结束是秋天的开始</a>
                </p>
                <p class="content">
                    From 上楼就往左拐, by PK14
                </p>
            </div>

            <div class="rs-pic-wrapper">
                <img src="/js/580x580" alt="夏天的结束是秋天的开始" class="rs-pic rounded">
                <div class="play-btn-mask rounded"></div>
                <span class="play-btn icon-search-play jp-play"></span>
                <span class="play-btn icon-search-pause jp-pause" style="display: none;"></span>
            </div>
            <div id="player20558" style="width: 0px; height: 0px;"><img id="jp_poster_0"
                                                                        style="width: 0px; height: 0px; display: none;">
                <audio id="jp_audio_0" preload="metadata"></audio>
            </div>

        </div>

        <div id="item1142" class="item item-vol" data-id="1142">
            <div class="rs-text">
                <p class="title">
                    [期刊]
                    <a href="http://www.luoo.net/vol/index/1142">vol.938 爱久弥新时</a>
                </p>
                <p class="content">
                    无论是爱久弥新时，还是形同陌路后，人的情感既来得夯实，却又来得孱弱，就像重逢只要一瞬间，等待却像是需要一辈子。不过爱依然是这个世界上最温暖的字眼，请一定一定要珍惜那些能够给你爱的感...
                </p>
            </div>

            <div class="rs-pic-wrapper">
                <img src="/js/160x120(3)" alt="vol.938 爱久弥新时" class="rs-pic">
            </div>

        </div>
    </div>
    <div class="paginator">
        <a class="previous disabled" rel="nofollow" href="javascript:;">上一页</a><a class="page actived" rel="nofollow"
                                                                                  href="javascript:;">1</a><a
            class="page" href="http://www.luoo.net/search/?q=%E5%A4%8F%E5%A4%A9&amp;p=2">2</a><a class="page"
                                                                                                 href="http://www.luoo.net/search/?q=%E5%A4%8F%E5%A4%A9&amp;p=3">3</a><a
            class="page" href="http://www.luoo.net/search/?q=%E5%A4%8F%E5%A4%A9&amp;p=4">4</a><a class="page"
                                                                                                 href="http://www.luoo.net/search/?q=%E5%A4%8F%E5%A4%A9&amp;p=5">5</a><a
            class="next" href="http://www.luoo.net/search/?q=%E5%A4%8F%E5%A4%A9&amp;p=2">下一页</a></div>
</div>
<!--/// container end -->

<script src="/js/search.js"></script>

<!--底部区域开始-->
<div class="footer" th:replace="~{portal/footer :: footer}">

</div>
<div id="backTop" style="left: 1451.5px;">&nbsp;</div>
<div id="feedbackWrapper" style="display:none;" th:replace="~{portal/help :: sendQuestion}">

</div>
<div id="mailWrapper" style="display:none;" th:replace="~{portal/help :: sendLetter}">

</div>
<!--底部结束-->


<script src="/js/jquery.artDialog.js"></script>
<script src="/js/jquery.qtip.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/qrcode.min.js"></script>
<!--[if lt IE 9]>
<script src="http://s.luoo.net/thirdparty/pie/PIE_IE678.js"></script>
<script>
    $(function () {
        if (window.PIE) {
            $('.rounded,.page').each(function () {
                try {
                    PIE.attach(this);
                } catch (e) {
                }
            });
        }
    })
</script>
<![endif]-->


<div id="qtip-searchFilterDialog" class="qtip qtip-default qtip-luoo qtip-pos-tc qtip-focus" tracking="false"
     role="alert" aria-live="polite" aria-atomic="false" aria-describedby="qtip-searchFilterDialog-content"
     aria-hidden="false" data-qtip-id="searchFilterDialog"
     style="width: 90px; z-index: 15001; top: 145px; left: 649px; display: none; opacity: 1;">
    <div class="qtip-tip"
         style="background-color: transparent !important; border: 0px !important; width: 8px; height: 8px; line-height: 8px; left: 50%; margin-left: -4px; top: -8px;">
        <canvas style="background-color: transparent !important; border: 0px !important; width: 8px; height: 8px;"
                width="8" height="8"></canvas>
    </div>
    <div class="qtip-content" id="qtip-searchFilterDialog-content" aria-atomic="true">
        <ul class="search-filter-wrapper">
            <li><a href="http://www.luoo.net/search/?q=%E5%A4%8F%E5%A4%A9" class="filter-item" rel="nofollow">全部</a>
            </li>
            <li><a href="http://www.luoo.net/search/?t=single&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item"
                   rel="nofollow">单曲</a></li>
            <li><a href="http://www.luoo.net/search/?t=vol&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item" rel="nofollow">期刊</a>
            </li>
            <li><a href="http://www.luoo.net/search/?t=essay&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item"
                   rel="nofollow">文章</a></li>
            <li><a href="http://www.luoo.net/search/?t=event&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item"
                   rel="nofollow">活动</a></li>
            <li><a href="http://www.luoo.net/search/?t=livehouse&amp;q=%E5%A4%8F%E5%A4%A9" class="filter-item"
                   rel="nofollow">场所</a></li>
        </ul>
    </div>
</div>
</body>
</html>