<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta property="qc:admins" content="4553322067645776654">
    <meta property="wb:webmaster" content="78f40d1511de8c6b">
    <meta name="baidu-site-verification" content="xC1m9aYTgX">
    <title>搜索</title>
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <link rel="stylesheet" href="/css/story.css">
    <link rel="stylesheet" href="/css/search.css">
    <link type="image/x-icon" href="#" rel="shortcut icon">
    <script type="text/javascript" async="" src="/js/ga.js"></script>
    <script src="/js/hm.js"></script>
    <script src="/js/jquery-1.11.0.min.js"></script>

    <script src="/js/luoo.js"></script>

</head>
<body>

<!-- header start -->
<div class="header" th:replace="~{portal/nav :: topbar}">

</div>
<!--/// header end -->
<!-- container start -->
<div class="container ct-sm" style="min-height: 499px;">
    <form class="search-form clearfix" action="/search" method="get">
        <div>
        <div class="filter rounded">
            <a href="javascript:;" rel="nofollow" class="filter-current" data-ct="searchFilterWrapper"
               data-tipid="searchFilterDialog" data-adjustx="15" data-width="90" data-hasqtip="searchFilterDialog"
               aria-describedby="qtip-searchFilterDialog">
                关键字:                    <!--<span class="icon-search-filter"></span>-->
            </a>

        </div>
        <input type="text" class="keyword rounded" placeholder="查找你喜欢的内容" name="keyword" value="查找你喜欢的内容" th:value="${keyword}">
        <button type="submit" class="btn rounded">
            <span class="icon-search-w"></span>
            搜索
        </button>
        </div>
        <br/><br/>
        <div >
            <span style="margin-left:30px;margin-right: 10px">筛选:</span>
            <!--<label>
                <input type="radio" name="filtrate" value="0" class="input-listener" checked> 全部
            </label>-->
            <label>
                <input type="radio" name="filtrate" value="topic" class="input-listener" > 专辑
            </label>
            <label>
                <input type="radio" name="filtrate" value="essay" class="input-listener" > 随笔
            </label>
            <label>
                <input type="radio" name="filtrate" value="story" class="input-listener" checked> 故事
            </label>
            <!--<label>
                <input type="radio" name="filtrate" value="4" class="input-listener" > 活动
            </label>-->
        </div>
    </form>

    <div class="search-result" th:if="${!storyPage.hasContent()}">
        <p class="search-not-found">没有找到相关的内容，换个关键词试试吧^-^</p>
    </div>
    <!--添加此空div是为了板式好看-->
    <div class="search-result" th:if="${storyPage.hasContent()}">
    </div>
    <div class="clearfix">
        <!-- article start-->
        <div class="article article-sm">
            <!-- essay-list -->
            <div class="essay-list">
                <!-- <div class="list-filter">
                    <span class="list-title">最新文章</span>
                    <span class="separator">&#12539;</span>

                    <a href="http://www.luoo.net/storys/" class="filter actived">全部</a>					</div> -->

                <div class="item" th:each="story,storyStat:${storyPage}">
                    <a href="/story/926" class="cover-wrapper" th:href="'/story/'+${story.id}">
                        <img class="cover rounded" src="/js/Ft3KtUoW1x3JtRIIpwaQXp9AwRLu.jpg"
                             alt="Sugar Man：隐没在城市里的一把声音" th:alt="${story.title}" th:src="${story.coverImgAddr}">
                    </a>
                    <div class="essay-wrapper">
                        <a href="/story/926" title="Sugar Man：隐没在城市里的一把声音" class="title" th:title="${story.title}"
                           th:text="${story.title}" th:href="'/story/'+${story.id}">
                            Sugar Man：隐没在城市里的一把声音
                        </a>
                        <div class="meta">
                            <a class="entry-author" href="#" th:text="${story.author.nickname}" th:href="'/author/topic?authorId='+${story.author.id}">LUO</a><span
                                class="separator">・</span><span class="time"
                                                                th:text="${#dates.format(story.creatTime,'yyyy-MM-dd')}">2017-11-28</span>
                        </div>
                        <div class="subscribe" th:text="${story.subscribe}">
                            他就像一位智者，一个先知，远不止是一个音乐人。
                        </div>
                    </div>
                </div>


            </div>
            <!--/// essay-list end-->

            <!--生成的带参数的页面跳转url-->
            <div class="paginator" th:if="${storyPage.totalPages} >1">
                <a class="previous" href="/search?filtrate=story&keyword=keyword&pn=1" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn=1'" >首页</a>
                <a class="previous"  th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number}" th:if="${storyPage.hasPrevious()}" >上一页</a><!--<a class="page actived" rel="nofollow" href="javascript:;">1</a>-->
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number -3}" th:text="${storyPage.number -3}" th:if="${storyPage.number } >3 ">1</a>
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number -2}" th:text="${storyPage.number -2}" th:if="${storyPage.number } >2 ">2</a>
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number -1}" th:text="${storyPage.number -1}" th:if="${storyPage.number } >1 ">3</a>
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number }" th:text="${storyPage.number}" th:if="${storyPage.number >0}">4</a>
                <a class="page actived" href="#" rel="nofollow" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number+1}" th:text="${storyPage.number +1}" >5</a><!--假设用户浏览的当前页是第5页,number+1是因为jpa里的pageable默认pn是从0开始的,此时pageable里的number是4-->
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number +2}" th:text="${storyPage.number +2}" th:if="${storyPage.number +2} <= ${storyPage.totalPages }" >6</a>
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number +3}" th:text="${storyPage.number +3}"  th:if="${storyPage.number +3} <= ${storyPage.totalPages }">7</a>
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number +4}" th:text="${storyPage.number +4}"  th:if="${storyPage.number +4} <= ${storyPage.totalPages }">8</a>
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number +5}" th:text="${storyPage.number +5}" th:if="${storyPage.number +5} <= ${storyPage.totalPages }">9</a>
                <a class="page" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number +6}" th:text="${storyPage.number +6}" th:if="${storyPage.number +6} <= ${storyPage.totalPages }">10</a>
                <a class="next" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.number +2}" th:if="${storyPage.hasNext()}">下一页</a>
                <a class="next" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn='+${storyPage.totalPages }" th:if="${storyPage.totalPages }>0">尾页</a>
                <a class="next" href="#" th:href="'/search?filtrate=story&keyword='+${keyword}+'&pn=1'" th:if="${storyPage.totalPages }==0" >尾页</a>
            </div>
        </div>
    </div>
</div>
    
<!--/// container end -->

<!--底部区域开始-->
<div class="footer" th:replace="~{portal/footer :: footer}">

</div>
<div id="backTop" style="left: 1451.5px;">&nbsp;</div>
<div id="feedbackWrapper" style="display:none;" th:replace="~{portal/help :: sendQuestion}">

</div>
<div id="mailWrapper" style="display:none;" th:replace="~{portal/help :: sendLetter}">

</div>
<!--底部结束-->


<script src="/js/jquery.artDialog.js"></script>
<script src="/js/jquery.qtip.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/qrcode.min.js"></script>
<!--[if lt IE 9]>
<script src="http://s.luoo.net/thirdparty/pie/PIE_IE678.js"></script>
<script>
    $(function () {
        if (window.PIE) {
            $('.rounded,.page').each(function () {
                try {
                    PIE.attach(this);
                } catch (e) {
                }
            });
        }
    })
</script>
<![endif]-->



</body>
</html>